<form [formGroup]="formGroup">

    <div class="card">

        <div class="field grid">
            <label for="state" class="col-4">
                {{ 'views.dashboard.launch-pad.overview.state.lbl' | translate }}
            </label>
            <div class="col-8">
                <div class="p-inputgroup">
                    <lrocket-launch-computer-state inputId="state" styleClass="inputfield w-full" class="w-full"
                        formControlName="state"></lrocket-launch-computer-state>
                    <button type="button" pButton icon="pi pi-question" tooltipPosition="left"
                        class="p-button-secondary"
                        pTooltip="{{ 'views.dashboard.launch-pad.overview.state.tooltip' | translate }}"
                        tooltipEvent="focus"></button>
                </div>
            </div>
        </div>

        <div class="field grid">
            <label for="error" class="col-4">
                {{ 'views.dashboard.launch-pad.overview.error.lbl' | translate }}
            </label>
            <div class="col-6">
                <lrocket-utils-error formControlName="error"></lrocket-utils-error>
            </div>
            <div class="col-2 text-right">
                <button type="button" pButton icon="pi pi-question" tooltipPosition="left" class="p-button-secondary"
                    pTooltip="{{ 'views.dashboard.launch-pad.overview.error.tooltip' | translate }}"
                    tooltipEvent="focus"></button>
            </div>
        </div>

        <div class="field grid">
            <label for="connected" class="col-4">
                {{ 'views.dashboard.launch-pad.overview.connected.lbl' | translate }}
            </label>
            <div class="col-6">
                <lrocket-utils-connected formControlName="connected"></lrocket-utils-connected>
            </div>
            <div class="col-2 text-right">
                <button type="button" pButton icon="pi pi-question" tooltipPosition="left" class="p-button-secondary"
                    pTooltip="{{ 'views.dashboard.launch-pad.overview.connected.tooltip' | translate }}"
                    tooltipEvent="focus"></button>
            </div>
        </div>

        <div class="field grid">
            <label for="voltage" class="col-4">
                {{ 'views.dashboard.launch-pad.overview.voltage.lbl' | translate }}
            </label>
            <div class="col-8">
                <div class="p-inputgroup">
                    <p-inputNumber inputId="voltage" formControlName="voltage" type="number" class="inputfield w-full"
                        [maxFractionDigits]="4">
                    </p-inputNumber>
                    <span class="p-inputgroup-addon">V</span>
                    <button type="button" pButton icon="pi pi-question" tooltipPosition="left"
                        class="p-button-secondary"
                        [pTooltip]="'views.dashboard.launch-pad.overview.voltage.tooltip' | translate"
                        tooltipEvent="focus"></button>
                </div>
            </div>
        </div>


    </div>

</form>