<div class="grid">
    <div class="col">
        <p-card header="Pressure">
            <p-chart type="scatter" [options]="pressure.options" [data]="pressure.data"></p-chart>
        </p-card>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-card header="TankVolume">
            <p-chart type="scatter" [options]="tankVolume.options" [data]="tankVolume.data"></p-chart>
        </p-card>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-card header="Mass">
            <p-chart type="scatter" [options]="mass.options" [data]="mass.data"></p-chart>
        </p-card>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-card header="FlowVelocity">
            <p-chart type="scatter" [options]="flowVelocity.options" [data]="flowVelocity.data"></p-chart>
        </p-card>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-card header="MassFlowRate">
            <p-chart type="scatter" [options]="massFlowRate.options" [data]="massFlowRate.data"></p-chart>
        </p-card>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-card header="Thrust">
            <p-chart type="scatter" [options]="thrust.options" [data]="thrust.data"></p-chart>
        </p-card>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-card header="Drag">
            <p-chart type="scatter" [options]="drag.options" [data]="drag.data"></p-chart>
        </p-card>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-card header="Gravity">
            <p-chart type="scatter" [options]="gravity.options" [data]="gravity.data"></p-chart>
        </p-card>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-card header="Velocity">
            <p-chart type="scatter" [options]="velocity.options" [data]="velocity.data"></p-chart>
        </p-card>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-card header="Height">
            <p-chart type="scatter" [options]="height.options" [data]="height.data"></p-chart>
        </p-card>
    </div>
</div>