<div class="grid">
    <div class="col">
        <p-panel [header]="'views.dashboard.rocket.overview.header' | translate">
            <app-dashboard-rocket-overview></app-dashboard-rocket-overview>
        </p-panel>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-panel [header]="'views.dashboard.rocket.orientation.header' | translate">
            <app-dashboard-rocket-orientation></app-dashboard-rocket-orientation>
        </p-panel>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-panel [header]="'views.dashboard.rocket.control.header' | translate">
            <app-dashboard-rocket-control></app-dashboard-rocket-control>
        </p-panel>
    </div>
</div>