<div class="card">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <div class="formgrid grid">

            <div class="field col">
                <label for="separator">Separator</label>
                <p-dropdown id="separator" [options]="separators" formControlName="separator"></p-dropdown>
            </div>

            <div class="field col">
                <label for="newline">Newline</label>
                <p-dropdown id="newline" [options]="newlines" formControlName="newline" ></p-dropdown>
            </div>

            <div class="field col">
                <label for="locale">Locale</label>
                <p-dropdown id="locale" [options]="locales" formControlName="locale"></p-dropdown>
            </div>

            <div class="field col">
                <label for="filename">Filename</label>
                <div class="p-inputgroup">
                    <input id="filename" type="text" formControlName="filename" pInputText>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="col">
                <button pButton type="submit" label="Export" icon="pi pi-download" class="p-button-secondary"></button>
            </div>
        </div>

    </form>
</div>