<p-card header="Serial">

    <div class="grid">
        <div class="col">
            <p-listbox [options]="baudRates" [(ngModel)]="baudRate"></p-listbox>
        </div>
    </div>

    <div class="grid">
        <div class="col">
            <span class="p-buttonset">
                <button pButton type="button" label="Open" class="p-button-secondary" [disabled]="port !== undefined"
                    (click)="open()"></button>
                <button pButton type="button" label="Close" class="p-button-danger" [disabled]="port === undefined"
                    (click)="close()"></button>
            </span>
        </div>
    </div>

</p-card>