<p-card header="Media">
    <div class="grid">
        <div class="col">
            <p-fileUpload [customUpload]="true" (uploadHandler)="onFile($event)"></p-fileUpload>
        </div>
    </div>
    <div class="grid">
        <div class="col" #videoParent>
            <video #video></video>
        </div>
        <div class="col" #canvasParent>
            <canvas #canvas></canvas>            
        </div>
    </div>
    <div class="grid">
        <div class="col">
            <button pButton type="button" icon="pi pi-step-backward" class="p-button-secondary" label="- Frame"
                [disabled]="!loaded" (click)="previous()"></button>
        </div>
        <div class="col">
            <p-dropdown [options]="seekTimes" [(ngModel)]="seekTime"></p-dropdown>
        </div>
        <div class="col">
            <button pButton type="button" icon="pi pi-step-forward" class="p-button-secondary" label="+ Frame"
                [disabled]="!loaded" (click)="next()"></button>
        </div>
        <div class="col">
            Time: {{time | number}} / {{duration|number}} s
        </div>
        <div class="col">
            <p-slider [(ngModel)]="sliderTime" [disabled]="!loaded" [min]="0" [max]="duration" [step]="seekTime"
                (onSlideEnd)="onSlideEnd()">
            </p-slider>
        </div>
        <div class="col">
            Frame: {{frames}}
        </div>
    </div>
</p-card>