<p-panel header="Foregrounds" [toggleable]="true">
    <div class="row">
        <div class="col">
            <button pButton type="button" icon="pi pi-plus" (click)="onAddItem()" class="p-button-success"></button>
        </div>
    </div>
    <ng-template ngFor let-item [ngForOf]="items" let-index="index" let-first="first">
        <p-divider></p-divider>
        <div class="row">
            <div class="col">
                <app-foreground-item-transformer [item]="item" [index]="index" (onChanged)="onItemChanged($event)"
                    (onDelete)="onDeleteItem($event)"></app-foreground-item-transformer>
            </div>
        </div>
        
    </ng-template>
</p-panel>