<p-card header="Config">
    <div class="card">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

            <div class="field grid">
                <label for="rocketWeight" class="col-12">Rocket Weight</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="rocketWeight" type="number" formControlName="rocketWeight" pInputText
                            class="inputfield w-full">
                        <span class="p-inputgroup-addon">g</span>
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="rocketDiameter" class="col-12">Rocket Diameter</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="rocketDiameter" type="number" formControlName="rocketDiameter" pInputText
                            class="inputfield w-full">
                        <span class="p-inputgroup-addon">mm</span>
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="dragCoefficient" class="col-12">Drag coefficient</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="dragCoefficient" type="number" formControlName="dragCoefficient" pInputText
                            class="inputfield w-full">
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="tankVolume" class="col-12">Tank Volume</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="tankVolume" type="number" formControlName="tankVolume" pInputText
                            class="inputfield w-full">
                        <span class="p-inputgroup-addon">l</span>
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="tankPressure" class="col-12">Tank Pressure</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="tankPressure" type="number" formControlName="tankPressure" pInputText
                            class="inputfield w-full">
                        <span class="p-inputgroup-addon">bar</span>
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="nozzleDiameter" class="col-12">Nozzle Diameter</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="nozzleDiameter" type="number" formControlName="nozzleDiameter" pInputText
                            class="inputfield w-full">
                        <span class="p-inputgroup-addon">mm</span>
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="thrustNozzleCount" class="col-12">Thrust nozzle count</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="thrustNozzleCount" type="number" formControlName="thrustNozzleCount" pInputText
                            class="inputfield w-full">
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="kappa" class="col-12">Kappa</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="kappa" type="number" formControlName="kappa" pInputText class="inputfield w-full">
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="simulationDuration" class="col-12">Simulation Duration</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="simulationDuration" type="number" formControlName="simulationDuration" pInputText
                            class="inputfield w-full">
                        <span class="p-inputgroup-addon">s</span>
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="stepTime" class="col-12">Simulation Step Time</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="stepTime" type="number" formControlName="stepTime" pInputText
                            class="inputfield w-full">
                        <span class="p-inputgroup-addon">s</span>
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="col">
                    <button pButton type="submit" label="Run" icon="pi pi-play" class="p-button-success"></button>
                </div>
            </div>

        </form>
    </div>
</p-card>