<form [formGroup]="formGroup">
    <p-card header="GreenScreen">
        <div class="card">
            <div class="field-checkbox">
                <p-inputSwitch id="enabled" formControlName="enabled"></p-inputSwitch>
                <label for="enabled">Enabled</label>
            </div>
            <div class="field">
                <label for="mode">Mode</label>
                <p-selectButton [options]="modes" id="mode" formControlName="mode"></p-selectButton>
            </div>
            <div class="field">
                <label for="colorInput">Color</label>
                <input type="color" id="colorInput" formControlName="color" class="inputfield">
            </div>
            <div class="field">
                <label for="hueThreshold">Hue-Threshold</label>
                <p-slider id="hueThreshold" [min]="0" [max]="1" [step]="0.01" formControlName="hueThreshold"></p-slider>
            </div>
            <div class="field">
                <label for="satThreshold">Sat-Threshold</label>
                <p-slider id="satThreshold" [min]="0" [max]="1" [step]="0.01" formControlName="satThreshold"></p-slider>
            </div>
            <div class="field">
                <label for="valThreshold">Val-Threshold</label>
                <p-slider id="valThreshold" [min]="0" [max]="1" [step]="0.01" formControlName="valThreshold"></p-slider>
            </div>
            <div class="field">
                <label for="channelThreshold">Channel-Threshold</label>
                <p-slider id="channelThreshold" [min]="0" [max]="255" [step]="1" formControlName="channelThreshold">
                </p-slider>
            </div>
            <div class="field">
                <button pButton type="button" label="Snapshot" (click)="snapshot($event)"></button>
            </div>
        </div>

    </p-card>
</form>

<p-overlayPanel #overlay (onShow)="onShow()">
    <ng-template pTemplate>
        <canvas #canvas></canvas>
    </ng-template>
</p-overlayPanel>