<div class="grid">
    <div class="col">
        <p-button styleClass="p-button-lg p-button-warning"
            [label]="'views.dashboard.rocket.control.btn.open-parachute' | translate"
            (onClick)="onOpenParachute()"></p-button>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-button styleClass="p-button-lg p-button-secondary"
            [label]="'views.dashboard.rocket.control.btn.close-parachute' | translate"
            (onClick)="onCloseParachute()"></p-button>
    </div>
</div>