<!DOCTYPE html>
<html>

<head>
    <title>
        <%= name %> - <%= version %>
    </title>
    <meta charset=utf-8 />
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
</head>

<body>
    <div class="container mt-3 mb-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">

                        <ul class="nav nav-tabs" id="menuTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="launch-tab" data-bs-toggle="tab"
                                    data-bs-target="#launch" type="button" role="tab" aria-controls="launch"
                                    aria-selected="true">Launch Control</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="config-tab" data-bs-toggle="tab" data-bs-target="#config"
                                    type="button" role="tab" aria-controls="config"
                                    aria-selected="false">Configuration</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="menuTabContent">
                            <div class="tab-pane fade show active" id="launch" role="tabpanel"
                                aria-labelledby="launch-tab">
                                <div class="row">
                                    <div class="col">
                                        <label for="currentPressure" class="form-label">Pressure</label>
                                        <input type="number" class="form-control" id="currentPressure" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="currentVoltage" class="form-label">Voltage</label>
                                        <input type="number" class="form-control" id="currentVoltage" disabled>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input class="form-check-input" type="checkbox" id="valve" disabled>
                                        <label for="valve" class="form-label">Valve</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-success btn-lg" id="launch" style="font-size: 3rem;">Launch</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="config" role="tabpanel" aria-labelledby="config-tab">
                                <form id="configForm">

                                    <div class="mb-3">
                                        <label for="configPressureFactor" class="form-label">Pressure Factor</label>
                                        <input type="number" class="form-control" step="0.01" id="configPressureFactor">
                                    </div>

                                    <div class="mb-3">
                                        <label for="configPressureOffset" class="form-label">Pressure Offset</label>
                                        <input type="number" class="form-control" min="-10000" step="0.01" id="configPressureOffset">
                                    </div>

                                    <div class="mb-3">
                                        <label for="configVoltageFactor" class="form-label">Voltage Factor</label>
                                        <input type="number" class="form-control" step="0.01" id="configVoltageFactor">
                                    </div>

                                    <div class="mb-3">
                                        <label for="configVoltageOffset" class="form-label">Voltage Offset</label>
                                        <input type="number" class="form-control" min="-10000" step="0.01" id="configVoltageOffset">
                                    </div>

                                    <div class="mb-3">
                                        <label for="configOpenTimeout" class="form-label">Open Timeout</label>
                                        <input type="number" class="form-control" id="configOpenTimeout">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>