<form [formGroup]="formGroup">
    <p-panel header="Background" [toggleable]="true">
        <div class="card">

            <div class="field">
                <label for="color">Color:</label>
                <div class="p-inputgroup">
                    <input type="color" id="color" formControlName="color" class="inputfield">
                </div>
            </div>

            <div class="field-checkbox">
                <p-inputSwitch id="visible" formControlName="visible"></p-inputSwitch>
                <label for="visible">Enabled</label>
            </div>

            <div class="field">
                <label for="distance">Distance</label>
                <p-slider id="distance" [min]="0" [max]="1" [step]="0.01" formControlName="distance"></p-slider>
            </div>

            <div class="field">
                <label for="particles">Particles</label>
                <p-slider id="particles" [min]="0" [max]="250" [step]="1" formControlName="particles"></p-slider>
            </div>

            <div class="field">
                <label for="speed">Speed</label>
                <p-slider id="speed" [min]="0" [max]="20" [step]="0.1" formControlName="speed" [range]="true">
                </p-slider>
            </div>

            <div class="field">
                <label for="radius">Radius</label>
                <p-slider id="radius" [min]="0" [max]="10" [step]="0.1" formControlName="radius" [range]="true">
                </p-slider>
            </div>

        </div>
    </p-panel>
</form>