<p-card header="Simulation Model">

    <div class="card">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="formgrid grid">

                <div class="field col">
                    <label for="enabled">Enabled</label>
                    <div class="col">
                        <p-inputSwitch id="enabled" formControlName="enabled"></p-inputSwitch>
                    </div>
                </div>

                <div class="field col">
                    <label for="medium">Medium</label>
                    <div class="col">
                        <p-selectButton id="medium" [options]="mediums" formControlName="medium"></p-selectButton>
                    </div>
                </div>

                <div class="field col">
                    <label for="radius">Nozzle Radius</label>
                    <div class="col">
                        <div class="p-inputgroup">
                            <input id="radius" type="number" pInputText formControlName="radius">
                            <span class="p-inputgroup-addon">mm</span>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="grid">
                <div class="col">
                    <button pButton type="submit" label="Calculate" icon="pi pi-check"
                        class="p-button-help"></button>
                </div>
            </div>

        </form>
    </div>
</p-card>