<form [formGroup]="formGroup">
    <div class="formgrid grid">

        <div class="field col-3">
            <label for="time">Time:</label>
            <div class="p-inputgroup">
                <input pInputText id="time" type="number" formControlName="time" class="inputfield w-full">
                <span class="p-inputgroup-addon">s</span>
            </div>
        </div>

        <div class="field col-3">
            <label for="duration">Duration:</label>
            <div class="p-inputgroup">
                <input pInputText id="duration" type="number" formControlName="duration" class="inputfield w-full">
                <span class="p-inputgroup-addon">s</span>
            </div>
        </div>

        <div class="field col-3">
            <label for="x">X:</label>
            <input pInputText id="x" type="number" formControlName="x" class="inputfield w-full">
        </div>

        <div class="field col-3">
            <label for="y">Y:</label>
            <input pInputText id="y" type="number" formControlName="y" class="inputfield w-full">
        </div>

        <div class="field col-12">
            <label for="text">Text</label>
            <textarea id="text" pInputTextarea formControlName="text" class="inputfield w-full"></textarea>
        </div>

        <div class="field col-3">
            <label for="font">Font:</label>
            <p-dropdown [options]="fonts" formControlName="font" styleClass="inputfield w-full"></p-dropdown>
        </div>

        <div class="field col-3">
            <label for="font-size">FontSize:</label>
            <div class="p-inputgroup">
                <input pInputText id="font-size" formControlName="fontSize" type="number" class="inputfield w-full">
                <span class="p-inputgroup-addon">px</span>
            </div>
        </div>

        <div class="field-checkbox col-2">
            <p-inputSwitch id="use-stroke-style" formControlName="useStrokeStyle"></p-inputSwitch>
            <label for="use-stroke-style">Use StrokeStyle</label>
        </div>

        <div class="field col-1">
            <label for="stroke-style">StrokeStyle</label>
            <input type="color" id="stroke-style" formControlName="strokeStyle" class="inputfield w-full">
        </div>

        <div class="field-checkbox col-2">
            <p-inputSwitch id="use-fill-style" formControlName="useFillStyle"></p-inputSwitch>
            <label for="use-fill-style">Use FillStyle</label>
        </div>

        <div class="field col-1">
            <label for="fill-style">FillStyle</label>
            <input type="color" id="fill-style" formControlName="fillStyle" class="inputfield w-full">
        </div>

        <div class="field col-1">
            <button pButton type="button" icon="pi pi-trash" (click)="onDeleteItem()" class="p-button-danger"></button>
        </div>


    </div>

</form>