<p-card header="Control">
    <div class="card">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

            <div class="field grid">
                <label for="pressureFactor" class="col-12">Pressure Factor</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="pressureFactor" type="number" formControlName="pressureFactor" pInputText
                            class="inputfield w-full">
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="pressureOffset" class="col-12">Pressure Offset</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="pressureOffset" type="number" formControlName="pressureOffset" pInputText
                            class="inputfield w-full">
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="thrustFactor" class="col-12">Thrust Factor</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="thrustFactor" type="number" formControlName="thrustFactor" pInputText
                            class="inputfield w-full">
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="thrustOffset" class="col-12">Thrust Offset</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="thrustOffset" type="number" formControlName="thrustOffset" pInputText
                            class="inputfield w-full">
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="col">
                    <span class="p-buttonset">
                        <button pButton type="button" (click)="tara()" label="Tara" icon="pi pi-sign-out"
                            class="p-button-secondary"></button>
                        <button pButton type="submit" label="Save" icon="pi pi-save" class="p-button-success"></button>
                    </span>
                </div>
            </div>

        </form>
    </div>
</p-card>