<p-card header="Constants">
    <div class="card">
        <form [formGroup]="formGroup">

            <div class="field grid">
                <label for="g" class="col-12">Gravity of Earth</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="g" type="number" formControlName="g" pInputText class="inputfield w-full">
                        <span class="p-inputgroup-addon">m/s</span>
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="gammaAir" class="col-12">Adiabatic air index</label>
                <div class="col-12">
                    <input id="gammaAir" type="number" formControlName="gammaAir" pInputText class="inputfield w-full">
                </div>
            </div>

            <div class="field grid">
                <label for="pamb" class="col-12">Atmosphere Pressure</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="pamb" type="number" formControlName="pAmb" pInputText class="inputfield w-full">
                        <span class="p-inputgroup-addon">pa</span>
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="rhoAir" class="col-12">Density of Air</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="rhoAir" type="number" formControlName="rhoAir" pInputText class="inputfield w-full">
                        <span class="p-inputgroup-addon">kg/m<sup>3</sup></span>
                    </div>
                </div>
            </div>

            <div class="field grid">
                <label for="rhoWater" class="col-12">Density of Water</label>
                <div class="col-12">
                    <div class="p-inputgroup">
                        <input id="rhoWater" type="number" formControlName="rhoWater" pInputText
                            class="inputfield w-full">
                        <span class="p-inputgroup-addon">kg/m<sup>3</sup></span>
                    </div>
                </div>
            </div>

        </form>
    </div>
</p-card>