<div class="grid">
    <div class="col">
        <p-card header="Settings">
            <div class="card">
                <form [formGroup]="formGroup" (ngSubmit)="ngSubmit()">

                    <div class="field grid">
                        <label for="rocketWeight" class="col-12">Empty rocket weight</label>
                        <div class="col-12">
                            <div class="p-inputgroup">
                                <input id="rocketWeight" type="number" formControlName="rocketWeight" pInputText
                                    class="inputfield w-full">
                                <span class="p-inputgroup-addon">gram</span>
                            </div>
                        </div>
                    </div>

                    <div class="field grid">
                        <label for="waterAmount" class="col-12">Initial amount of water</label>
                        <div class="col-12">
                            <div class="p-inputgroup">
                                <input id="waterAmount" type="number" formControlName="waterAmount" pInputText
                                    class="inputfield w-full">
                                <span class="p-inputgroup-addon">Liter</span>
                            </div>
                        </div>
                    </div>

                    <div class="field grid">
                        <label for="tankVolume" class="col-12">Tank Volume</label>
                        <div class="col-12">
                            <div class="p-inputgroup">
                                <input id="tankVolume" type="number" formControlName="tankVolume" pInputText
                                    class="inputfield w-full">
                                <span class="p-inputgroup-addon">Liter</span>
                            </div>
                        </div>
                    </div>

                    <div class="field grid">
                        <label for="initialPressure" class="col-12">Initial pressure</label>
                        <div class="col-12">
                            <div class="p-inputgroup">
                                <input id="initialPressure" type="number" formControlName="initialPressure" pInputText
                                    class="inputfield w-full">
                                <span class="p-inputgroup-addon">bar</span>
                            </div>
                        </div>
                    </div>

                    <div class="field grid">
                        <label for="dragCoefficient" class="col-12">Drag Coefficient</label>
                        <div class="col-12">
                            <input id="dragCoefficient" type="number" formControlName="dragCoefficient" pInputText
                                class="inputfield w-full">
                        </div>
                    </div>

                    <div class="field grid">
                        <label for="rocketDiameter" class="col-12">Rocket Diameter</label>
                        <div class="col-12">
                            <div class="p-inputgroup">
                                <input id="rocketDiameter" type="number" formControlName="rocketDiameter" pInputText
                                    class="inputfield w-full">
                                <span class="p-inputgroup-addon">mm</span>
                            </div>
                        </div>
                    </div>

                    <div class="field grid">
                        <label for="nozzleDiameter" class="col-12">Nozzle Diameter</label>
                        <div class="col-12">
                            <div class="p-inputgroup">
                                <input id="nozzleDiameter" type="number" formControlName="nozzleDiameter" pInputText
                                    class="inputfield w-full">
                                <span class="p-inputgroup-addon">mm</span>
                            </div>
                        </div>
                    </div>

                    <div class="field grid">
                        <label for="timeStep" class="col-12">Simulation time step</label>
                        <div class="col-12">
                            <div class="p-inputgroup">
                                <input id="timeStep" type="number" formControlName="timeStep" pInputText
                                    class="inputfield w-full">
                                <span class="p-inputgroup-addon">s</span>
                            </div>
                        </div>
                    </div>

                    <div class="field grid">
                        <button pButton type="submit" label="Launch" class="p-button-success"
                            icon="pi pi-play"></button>
                        <button pButton type="button" label="Cancel" class="p-button-danger" icon="pi pi-stop"></button>
                    </div>

                </form>
            </div>
        </p-card>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-card header="Result">

            <div class="card">

                <div class="field grid">
                    <label for="maxHeight" class="col-12"></label>
                    <div class="col-12">
                        <div class="p-inputgroup">
                            <input id="maxHeight" [ngModel]="result?.maxHeight | number" type="number" pInputText
                                class="inputfield w-full" [disabled]="true">
                            <span class="p-inputgroup-addon">m</span>
                        </div>
                    </div>
                </div>

                <div class="field grid">
                    <label for="duration" class="col-12"></label>
                    <div class="col-12">
                        <div class="p-inputgroup">
                            <input id="duration" [ngModel]="result?.duration | number" type="number" pInputText
                                class="inputfield w-full" [disabled]="true">
                            <span class="p-inputgroup-addon">s</span>
                        </div>
                    </div>
                </div>

            </div>

        </p-card>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-card header="Chart">
            <div class="grid">
                <div class="col">
                    <p-chart #chart width="98%" height="45vh" type="line" [data]="simulationChart.data"
                        [plugins]="simulationChart.plugins" [options]="simulationChart.options"></p-chart>
                </div>
            </div>
            <div class="grid text-right">
                <div class="col">
                    <button pButton type="button" label="Reset" class="p-button-info" icon="pi pi-times"
                        (click)="onResetChart()"></button>
                </div>
            </div>
        </p-card>
    </div>
</div>