<form [formGroup]="formGroup">
    <p-panel header="Export" [toggleable]="true">

        <div class="formgrid grid">

            <div class="field col-3">
                <label for="width">Width:</label>
                <div class="p-inputgroup">
                    <input pInputText id="width" type="number" formControlName="width" class="inputfield w-full">
                    <span class="p-inputgroup-addon">px</span>
                </div>
            </div>

            <div class="field col-3">
                <label for="height">Height:</label>
                <div class="p-inputgroup">
                    <input pInputText id="height" type="number" formControlName="height" class="inputfield w-full">
                    <span class="p-inputgroup-addon">px</span>
                </div>
            </div>

            <div class="field col-3">
                <label for="filename">Filename:</label>
                <input pInputText id="filename" type="text" formControlName="filename" class="inputfield w-full">
            </div>

        </div>

    </p-panel>
</form>