<div class="grid">
    <div class="col" [hidden]="false">
        <p-message severity="error" text="Hello"></p-message>
    </div>
</div>

<div class="grid">
    <div class="col">
        <app-serial-thrust-test-utilities #serial (data)="onData($event)" (error)="onError($event)">
        </app-serial-thrust-test-utilities>
    </div>
</div>

<div class="grid">
    <div class="col">
        <app-control-thrust-test-utilities #control (data)="onReading($event)" (control)="onControl($event)">
        </app-control-thrust-test-utilities>
    </div>
</div>

<div class="grid">
    <div class="col">
        <app-reading-thrust-test-utilities #reading></app-reading-thrust-test-utilities>
    </div>
</div>

<div class="grid">
    <div class="col">
        <app-runner-thrust-test-utilities (start)="onStart()" (stop)="onStop()"></app-runner-thrust-test-utilities>
    </div>
</div>

<div class="grid">
    <div class="col">
        <app-charts-thrust-test-utilities #charts></app-charts-thrust-test-utilities>
    </div>
</div>

<div class="grid">
    <div class="col">
        <p-card header="Export">
            <button pButton type="button" label="Export" class="p-button-secondary" (click)="export()"></button>
        </p-card>
    </div>
</div>